
.jumbotron{
padding-top: 6rem;
background-color: #aaebb5;

}
.container> img{

    width: 210px;
    animation: frame 2s infinite;
}
img:hover{

    width: 300px;
   
}

#projects{

    background-color: #aaebb5;
}
section{
    padding-top: 5rem;
}
.card{
    position: relative;
    
}
.card-body img:hover{
 width: 700px;
   right:65px;
;
   z-index: 1;
position: absolute;
}


@keyframes frame{

    0%{
        box-shadow: 5px 5px 5px #aaebb5;
    
    }
    50%{
      
    }
    100%{ 
        border-radius: 200px;
         box-shadow: 10px 10px 10px 5px green, -10px -10px 10px 5px green, -10px 10px 10px 5px green, 10px -10px 10px 5px green;
        
       
    } 
    
    }